body {}

#header-img {
    border: 1px solid blue;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;  
    border: 3px solid purple;
    background-color: white;
}
#nav-bar {
    border: 1px solid red;
    width: 60%;
    display: flex;
}
#form {
    border: 3px solid green;
    text-align: center;
}
main {
    border: 3px solid black;
}
.small-logo {
    border: 1px solid blue;
    height: 50px;
    align-self: center;
}
.section {
    margin: auto;
    height: auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
}
.blurb {
    border: 1px solid red;
    text-align: center;
    overflow-wrap: normal;
}
.options {
    border: 3px solid aqua;
}
#video{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 3px solid yellow;
}


@media (min-width: 0px) {
    #header {
        flex-flow: column nowrap;
        align-items: center;
    }
    #nav-bar {
        flex-flow: column wrap;
        align-items: center;
    }
    #header-img {
        max-height: 130px;
    }
    #form {
        margin-top: 275px;
    }
    .small-logo {
        width: 0px;
    }
}
@media (min-width: 600px) {
    #header {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    #nav-bar {
        flex-flow: column wrap;
        align-items: flex-end;
    }
    #header-img {
        width: auto;
        height: 130px;
    }
    #form {
        margin-top: 145px;
    }
    .small-logo {
        width: 80px;
    }
    .blurb {
        width: 80%;
        text-align: justify;
    }
    .section {
        justify-content: space-around;
    }
}
@media (min-width: 1000px) {
    #header {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #nav-bar {
        flex-flow: row nowrap; 
        justify-content: space-between;
        margin-right: 15px;
    }
    #header-img {
        width: auto;
        height: 70px;
    }
    #form {
        margin-top: 85px;
    }
}
