body {}

h1 {
    font-size: 20px;
}
#header-img {
    height: 50px;
    width: auto;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: auto;
    min-height: 50px;
    width: 100%;
    border: 3px solid purple;
    background-color: white;
}

#nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


#form{
    margin-top: 60px;
    width: 100%;
    border: 3px solid green;
}

main {
    border: 3px solid black;
    width: 100%;
}

.small-logo {
    border: 3px solid red;
}

.blurb {
    border: 3px solid blue;
}

.options {
    width: 100%;
    border: 3px solid aqua;
}

#video{
    border: 3px solid yellow;
}